{% extends 'projects/base.html' %}

{% block header %}
<header>
    <h1>TaskMaster</h1>
    <p style="color: var(--primary); margin: 0; font-size: 0.9em;">Usuario: {{ user.username }}</p>    
</header>
{% endblock %}

{% block nav %}
<nav class="menu" id="nav">
    <span class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <span class="icon">
            <i data-feather="home"></i>
        </span>
        <a href="{% url 'dashboard' %}">Inicio</a>
    </span>
    <span class="nav-item {% if request.resolver_match.url_name == 'project_list' or request.resolver_match.url_name == 'project_detail' %}active{% endif %}">
        <span class="icon">
            <i data-feather="list"></i>
        </span>
        <a href="{% url 'project_list' %}">Mis proyectos</a>
    </span>
    <form action="{% url 'logout' %}" method="post" id="logout-form" style="display: none;">
        {% csrf_token %}
    </form>
    <span class="nav-item" onclick="document.getElementById('logout-form').submit();" style="cursor:pointer;">
        <span class="icon">
            <i data-feather="log-out"></i>
        </span>
        <a href="javascript:void(0)" style="padding-right: 1ch;">Cerrar sesión</a>
    </span>
</nav>
{% endblock %}