<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de proyectos.</title>
</head>

<body>
    <h1>Proyectos</h1>
    <p>Bienvenido, {{ user.username }} |
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    </p>

    <ul>
        {% for project in projects %}
        <li>
            <a href="{% url 'project_detail' project.id %}">
                {{ project.title }}
            </a>
        </li>
        {% empty %}
        <li>No hay proyectos</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'dashboard' %}">Volver.</a>
</body>

</html>