<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del proyecto. </title>
</head>

<body>
    <h1>{{ project.title }}</h1>
    <p>Bienvenido, {{ user.username }} |
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    </p>

    {% if project.owner == user %}
    <form action="{% url 'delete_project' project.id %}" method="post" style="margin-bottom: 20px;"
        onsubmit="return confirm('¿Estás seguro de que quieres eliminar este proyecto?');">
        {% csrf_token %}
        <button type="submit"
            style="background-color: #ff4d4d; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 4px;">Eliminar
            Proyecto</button>
    </form>
    {% endif %}

    <p>{{ project.description }}</p>
    <p>Deadline: {{ project.deadline }}</p>
    <p>Owner: {{ project.owner.username }}</p>

    <h2>Tareas</h2>
    <ul>
        {% for task in project.tasks.all %}
        <li>
            {{ task.title }} - {{ task.status }}
        </li>
        {% empty %}
        <li>No hay tareas</li>
        {% endfor %}
    </ul>

    <a href="{% url 'dashboard' %}">Volver. </a>
</body>

</html>