faiss-cpu==1.13.2
langchain==1.2.15
langchain-classic==1.0.2
langchain-community==0.4.1
langchain-core==1.2.17
langchain-google-genai==4.2.1
langchain-huggingface==1.2.1
langchain-text-splitters==1.1.1
python-dotenv==1.2.2
sentence-transformers==5.3.0