<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Central</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />-->
</head>

<body>
    <div>
        <header>
            <h1>Biblioteca Central</h1>
        </header>
    </div>

    <div>
        <h2>Libros:</h2>
        <div>
            <table border="1">
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                    <th>Disponible</th>
                </tr>

                {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.isbn }}</td>
                    <td>{{ libro.disponible }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>



    <!-- <main>


        <h2>Menú</h2>
    </main> -->

</body>
<!--
<footer>
    <p>© 2025 Biblioteca creada por Sergio Rodríguez Geniz. Todos los derechos reservados.</p>
</footer>
-->

</html>